@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');
body{
    margin:0;
    height: 100vh;
    background: #eee;

}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    
    
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #e9e9e9;
}
.actionsDiv{
    display: flex;
    gap: 10px;
}

.modalEdit{
    background-color: rgba(26, 27, 27, 0.172);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
    display: none;
}

.modalContent{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modalContent label{
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 5px;
}
.modalInput{
    display: flex;
    flex-direction: column;
}
.modalInput input, .modalInput textarea{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}
.modalActions{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
button{
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;

}
button:hover{
    opacity: 0.9;
    transform: scale(1.02);
}
button:active{
    transform: scale(0.98);
}



