<div class="modalEdit" #modalEdit>
    <div class="modalContent">
        <div class="modalInput">
            <label for="userId">UserId:</label>
            <input type="number" id="userId" [(ngModel)]="actualPost.userId">
        </div>
        <div class="modalInput">
            <label for="title">Title:</label>
            <input type="text" id="title" [(ngModel)]="actualPost.title">
        </div>
        <div class="modalInput">
            <label for="body">Body:</label>
            <input type="text" id="body" [(ngModel)]="actualPost.body">
        </div>
        <div class="modalActions">
            <button (click)="updatePost()">Guardar</button>
            <button (click)="cancelUpdate()">Cancelar</button>
        </div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>UserId</th>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for (post of posts; track post.id; let i = $index) {
        <tr>
            <td>{{ post.userId }}</td>
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
            <td>
                <div class="actionsDiv">
                    <button (click)="showEditModal(post)">Editar</button>
                    <button (click)="removePost(i)">Eliminar</button>
                </div>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td><input class="mt-2 p-2 rounded w-100" type="number" id="userId" [(ngModel)]="newPost.userId" placeholder="User Id"></td>
            <td colspan="1"></td>
            <td><input class="mt-2 p-2 rounded w-100" type="text" id="title" [(ngModel)]="newPost.title" placeholder="Titulo"></td>
            <td><input class="mt-2 p-2 rounded w-100" type="text" id="body" [(ngModel)]="newPost.body" placeholder="Cuerpo"></td>
            <td>
                <div class="d-flex justify-content-center">
                    <button (click)="savePost()" class="btn btn-primary">Agregar Post</button>
                </div>
            </td>
        </tr>
    </tfoot>
</table>